## 미션 ##
1. 데이터를 읽어 온다.
2. regionid, product 별 평균 값을 구한다.
3. product 별로 MA 값을 구한다.
4. product 별로 표준편차를 구한다.

In [1]:
import pandas as pd

kopo_season = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
kopo_season.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [99]:
sorted_data = kopo_season.sort_values(['REGIONID','PRODUCT','YEARWEEK'])
sorted_data.reset_index(inplace=False, drop=True)
sorted_data.head()

     REGIONID    PRODUCT  YEARWEEK    QTY
298       A00  PRODUCT34    201401  661.0
1757      A00  PRODUCT34    201402  679.0
3125      A00  PRODUCT34    201403  578.0
205       A00  PRODUCT34    201404  532.0
4369      A00  PRODUCT34    201405  516.0

In [96]:
group_data = sorted_data.groupby(["REGIONID","PRODUCT","YEARWEEK"])

In [97]:
eachdata = group_data.get_group(list(group_data.groups)[0])

In [98]:
eachdata

    REGIONID    PRODUCT  YEARWEEK    QTY
298      A00  PRODUCT34    201401  661.0

### 함수 생성하기

In [84]:
def ma_rolling(eachdata):
    basicData = eachdata.reset_index(drop=True)
#    basicData.head()

    basicData["ma"] = basicData["QTY"].rolling(window=17, center = True, min_periods=1).mean()
    return basicData

In [100]:
GroupResult = sorted_data.groupby(["REGIONID","PRODUCT"]).apply(ma_rolling)

In [101]:
GroupResult.head()

                     REGIONID    PRODUCT  YEARWEEK    QTY          ma
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0  514.444444
                   1      A00  PRODUCT34    201402  679.0  516.800000
                   2      A00  PRODUCT34    201403  578.0  503.363636
                   3      A00  PRODUCT34    201404  532.0  490.750000
                   4      A00  PRODUCT34    201405  516.0  480.230769

In [103]:
aa = GroupResult.reset_index(drop=True)

In [104]:
aa["radio"] = aa["QTY"] / aa["ma"]
aa.head()

  REGIONID    PRODUCT  YEARWEEK    QTY          ma     radio
0      A00  PRODUCT34    201401  661.0  514.444444  1.284881
1      A00  PRODUCT34    201402  679.0  516.800000  1.313854
2      A00  PRODUCT34    201403  578.0  503.363636  1.148275
3      A00  PRODUCT34    201404  532.0  490.750000  1.084055
4      A00  PRODUCT34    201405  516.0  480.230769  1.074483

In [109]:
aa["week"] = aa["YEARWEEK"].astype(str).str[4:]

In [110]:
aa

       REGIONID    PRODUCT  YEARWEEK      QTY           ma     radio week
0           A00  PRODUCT34    201401    661.0   514.444444  1.284881   01
1           A00  PRODUCT34    201402    679.0   516.800000  1.313854   02
2           A00  PRODUCT34    201403    578.0   503.363636  1.148275   03
3           A00  PRODUCT34    201404    532.0   490.750000  1.084055   04
4           A00  PRODUCT34    201405    516.0   480.230769  1.074483   05
5           A00  PRODUCT34    201406    423.0   468.214286  0.903432   06
6           A00  PRODUCT34    201407    407.0   456.666667  0.891241   07
7           A00  PRODUCT34    201408    364.0   445.875000  0.816372   08
8           A00  PRODUCT34    201409    470.0   433.588235  1.083978   09
9           A00  PRODUCT34    201410    538.0   405.294118  1.327431   10
10          A00  PRODUCT34    201411    369.0   374.823529  0.984463   11
11          A00  PRODUCT34    201412    352.0   349.058824  1.008426   12
12          A00  PRODUCT34    201413    354.0   324.588235  1.090613   13
13          A00  PRODUCT34    201414    312.0   300.000000  1.040000   14
14          A00  PRODUCT34    201415    295.0   280.000000  1.053571   15
15          A00  PRODUCT34    201416    284.0   260.235294  1.091320   16
16          A00  PRODUCT34    201417    237.0   242.647059  0.976727   17
17          A00  PRODUCT34    201418    180.0   218.529412  0.823688   18
18          A00  PRODUCT34    201419    161.0   191.705882  0.839828   19
19          A00  PRODUCT34    201420    140.0   178.882353  0.782637   20
20          A00  PRODUCT34    201421    116.0   174.294118  0.665542   21
21          A00  PRODUCT34    201422     98.0   184.764706  0.530404   22
22          A00  PRODUCT34    201423     83.0   192.823529  0.430445   23
23          A00  PRODUCT34    201424     71.0   200.941176  0.353337   24
24          A00  PRODUCT34    201425     65.0   205.647059  0.316076   25
25          A00  PRODUCT34    201426     60.0   212.058824  0.282940   26
26          A00  PRODUCT34    201427     82.0   219.823529  0.373026   27
27          A00  PRODUCT34    201428    151.0   224.705882  0.671990   28
28          A00  PRODUCT34    201429    274.0   229.823529  1.192219   29
29          A00  PRODUCT34    201430    532.0   234.235294  2.271220   30
...         ...        ...       ...      ...          ...       ...  ...
124628      A77  PRODUCT12    201623   5348.0  4263.117647  1.254481   23
124629      A77  PRODUCT12    201624   3275.0  4388.647059  0.746244   24
124630      A77  PRODUCT12    201625   4158.0  4362.294118  0.953168   25
124631      A77  PRODUCT12    201626   4815.0  4397.470588  1.094948   26
124632      A77  PRODUCT12    201627   3002.0  4447.117647  0.675044   27
124633      A77  PRODUCT12    201628   3319.0  4420.176471  0.750875   28
124634      A77  PRODUCT12    201629   4200.0  4391.117647  0.956476   29
124635      A77  PRODUCT12    201630   7120.0  4500.764706  1.581953   30
124636      A77  PRODUCT12    201631   6345.0  5080.000000  1.249016   31
124637      A77  PRODUCT12    201632   5863.0  4977.352941  1.177935   32
124638      A77  PRODUCT12    201633   4211.0  5020.588235  0.838746   33
124639      A77  PRODUCT12    201634   4019.0  5028.470588  0.799249   34
124640      A77  PRODUCT12    201635   3624.0  5084.058824  0.712816   35
124641      A77  PRODUCT12    201636   3742.0  5149.176471  0.726718   36
124642      A77  PRODUCT12    201637   3002.0  5219.000000  0.575206   37
124643      A77  PRODUCT12    201638   5583.0  5222.235294  1.069082   38
124644      A77  PRODUCT12    201639  14734.0  5013.647059  2.938779   39
124645      A77  PRODUCT12    201640   3603.0  4884.647059  0.737617   40
124646      A77  PRODUCT12    201641   4010.0  4838.941176  0.828694   41
124647      A77  PRODUCT12    201642   4292.0  4935.117647  0.869685   42
124648      A77  PRODUCT12    201643   5760.0  4988.882353  1.154567   43
124649      A77  PRODUCT12    201644   4109.0  5219.882353  0.787182   44
124650      A77  PRODUCT12    201645   4506.0  5312.250000  0.848228   45
124651      A77  PRODUCT12    201646   4255.0  5466.266667  0.778411   46
124652      A77  PRODUCT12    201647   3574.0  5457.928571  0.654827   47
124653      A77  PRODUCT12    201648   4152.0  4744.384615  0.875140   48
124654      A77  PRODUCT12    201649   5086.0  4839.500000  1.050935   49
124655      A77  PRODUCT12    201650   5846.0  4914.909091  1.189442   50
124656      A77  PRODUCT12    201651   4933.0  4977.200000  0.991120   51
124657      A77  PRODUCT12    201652   7551.0  4890.222222  1.544102   52

[124658 rows x 7 columns]